<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.voluntold" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Voluntold"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".bVolViewOpportunityFromSaved"
            android:exported="false" />
        <activity
            android:name=".bVolSavedOpportunities"
            android:exported="false" />
        <activity
            android:name=".cOrgVerifyVolunteer"
            android:exported="false" />
        <activity
            android:name=".cOrgEditProfile"
            android:exported="true" />
        <activity
            android:name=".cOrgViewProfile"
            android:exported="true" />
        <activity
            android:name=".bEditVolProfile"
            android:exported="false" />
        <activity
            android:name=".bVolViewProfile"
            android:exported="false" />
        <activity
            android:name=".cOrgViewVolunteers"
            android:exported="false" />
        <activity
            android:name=".aIntermediateLogInScreen"
            android:exported="false" />
        <activity
            android:name=".bVolDiscoverOpportunities"
            android:exported="false" />
        <activity
            android:name=".bVolViewOpportunityFromDisc"
            android:exported="false" />
        <activity
            android:name=".cOrgCreateOpportunityPost"
            android:exported="false" />
        <activity
            android:name=".cOrgViewOpportunity"
            android:exported="false" />
        <activity
            android:name=".cOrgEditOpportunity"
            android:exported="false" />
        <activity
            android:name=".cOrgPostedOpportunities"
            android:exported="false" />
        <activity
            android:name=".aVolunteerSignUp"
            android:exported="false" />
        <activity
            android:name=".bVolDashboard"
            android:exported="false" />
        <activity
            android:name=".cOrgDashboard"
            android:exported="false" />
        <activity
            android:name=".aOrganizationSignUp"
            android:exported="false" />
        <activity
            android:name=".aOrganizationInformation"
            android:exported="false" />
        <activity
            android:name=".aVolunteerInformation"
            android:exported="false" />
        <activity
            android:name=".aLogIn"
            android:exported="false" />
        <activity
            android:name=".aSignUp"
            android:exported="false" />
        <activity
            android:name=".aMainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>